<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of job</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<header class="bg-primary text-white text-center py-5">
    <div class="container">
        <h1>Find Your Dream Job</h1>
        <p class="lead">Explore thousands of job listings in various fields</p>

        <div class="d-flex justify-content-center mt-4" th:each="company : ${companies}">
            <strong th:text="'Hello: ' + (${companies.getCompName()}) + '. This is company page!'"></strong>
        </div>

        <div class="d-flex justify-content-center mt-4">
            <a href="/company/logout" class="btn btn-danger">Logout</a>
        </div>

        <div class="d-flex justify-content-center mt-4">
            <a class="btn btn-success mb-4" href="/company/new">Post a New Job</a>
        </div>

        <form class="d-flex justify-content-center mt-4" th:action="@{/company}" method="get">
            <input type="text" class="form-control w-50 me-2" placeholder="Job title, company, or keyword" name="keyword" th:value="${keyword}">
            <button class="btn btn-light" type="submit" name="action">Search</button>
        </form>
    </div>
</header>

<div class="container my-5">
    <h2>List of Jobs</h2>
    <div class="row">
        <div class="col-md-4 mb-4" th:each="job : ${jobs}">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title" th:text="'Job Name: ' + (${job.getJob().getJobName()})"></h5>
                    <p class="card-text">Description: <strong th:text="${job.getJob().getJobDesc()}"></strong></p>
                    <p class="card-text">Skill name: <strong th:text="${job.getSkill().getSkillName()}"></strong></p>
                    <p class="card-text">Skill level: <strong th:text="${job.getSkillLevel()}"></strong></p>
                    <a href="#" class="btn btn-primary">View Details</a>
                    <div class="d-flex justify-content-between">
                        <a class="btn btn-warning btn-sm me-1" th:href="@{/company/update-job/{jobId}/{skillId}(jobId=${job.getJob().getId()}, skillId=${job.getSkill().getId()})}">Update</a>
                        <a class="btn btn-danger btn-sm"
                           th:href="@{/company/delete/{jobId}/{skillId}(jobId=${job.getJob()?.getId()}, skillId=${job.getSkill()?.getId()})}"
                            onclick="return confirm('Are you sure you want to delete this job?')">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<tr th:each="job : ${jobs}">-->
<!--  <td th:text="${job.getJob().getJobName()}"></td>-->
<!--  <td th:text="${job.getJob().getJobDesc()}"></td>-->
<!--  <td th:text="${job.getSkill().getSkillName()}"></td>-->
<!--  <td th:text="${job.getSkillLevel()}"></td>-->
<!--  <td th:text="${job.getSkill().getType()}"></td>-->
<!--  <td>-->
<!--    <a th:href="@{'/companies/job/edit/' + ${job.id}}">Edit</a>-->
<!--  </td>-->
<!--  <td>-->
<!--    <a th:href="@{/company/jobs/delete/{id}(id=${job.getJob().getId()})}" class="btn btn-danger btn-sm"-->
<!--       onclick="return confirm('Are you sure you want to delete this job?')">Delete</a>-->
<!--  </td>-->
<!--</tr>-->
</body>
</html>